<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mad Libs</title>

      <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
      <script type="text/javascript" src="https://code.angularjs.org/1.2.18/angular-animate.min.js"></script>


      <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700' rel='stylesheet' type='text/css'>

      <link href="style.css" rel="stylesheet" type="style/css">

      <script src="myApp.js"></script>

</head>

<body ng-app="myApp" ng-controller="myCtrl">
	
	<div class="top-section">
		<div>
			<div class="face"><img src="images/mad-lib-happy-face.png" height="80px"></div>
			<div class="title">
				<div><img src="images/ng-mad-libs-logo.png" height="40px"></div>
				<h1>Automate This!</h1>
			</div>
		</div>
	</div>

	<div class="animation-wrapper" ng-show="animationMove">

		<div class="choices-view" ng-show="(view === 'words')">
			<div ng-if="myForm.$submitted && myForm.$error && myForm.$pristine">
				<p class="error">All fields are required</p>
			</div>

			<div ng-if="myForm.$submitted && myForm.numberType.$error && myForm.$pristine">
				<p class="error">Please enter a huge number for the story</p>
			</div>

			<div class="words-section">

				<form name="myForm" class="myForm" ng-submit="processForm()" novalidate>
					<p>Provide the following words:</p>
					<div>
						<input type="text" ng-model="jobTitle" placeholder="Job title" required>

						<input type="text" ng-model="femaleName" placeholder="Female name" required>

						<input type="text" ng-model="celebrity" placeholder="Celebrity" required>
					</div>
					<div>
						<input type="text" ng-model="uselessSkill" placeholder="Useless skill" required>

						<input type="text" ng-model="tediousTask" placeholder="Tedious task" required>

						<input type="text" ng-model="dirtyTask" placeholder="Dirty task" required>
					</div>
					<div>
						<input type="text" ng-model="adjective" placeholder="Adjective" required>

						<input type="text" ng-model="obnxCelebrity" placeholder="Obnoxious celebrity" required>
						<input type="number" name="numberType" ng-model="hugeNumber" placeholder="Huge number" required>
					</div>
					<div class="submit-area">
						<input type="submit" id="submit" value="Generate My Mad Lib"/>
					</div>

					

				</form>

			</div>

		</div>

		<div class="story-view" ng-show="(view === 'story')">

			<div class="story-section">
				<p><span class="fill">{{femaleName}}</span> was a <span class="fill">{{jobTitle}}</span> who loved technology. Although she loved parts of her job, she absolutely hated <span class="fill">{{tediousTask}}</span> and <span class="fill">{{dirtyTask}}</span>. So, <span class="fill">{{femaleName}}</span> met with her life mentor <span class="fill">{{celebrity}}</span> who told her to learn how to <span class="fill">{{uselessSkill}}</span> with Thinkful. Thinkful didn't offer a course on <span class="fill">{{uselessSkill}}</span> so she studied programming instead.</p>
		 
				<p>What a great decision! With her new skills, <span class="fill">{{femaleName}}</span> built a(n) <span class="fill">{{adjective}}</span> robot named <span class="fill">{{obnxCelebrity}}</span> that not only loved <span class="fill">{{dirtyTask}}</span> but did it <span class="fill">{{hugeNumber}}</span> faster.</p>
			</div>
			<div class="reset-area">
				<input type="button" id="reset" ng-click="reset()" value="Start over"/>
			</div>
		</div>

	</div>
	
	
</body>

</html>