body {
	border: 2px solid;
	margin: 10px 100px;
	font-family: 'Cabin Sketch', cursive;
	min-width: 1084px;
}

.myForm > p {
	margin-bottom: 35px;
}

.top-section {
	margin: auto;
	margin-bottom: 30px;
	border-bottom: 2px solid;
}

.top-section > div {
  	height: 112px;
  	margin: auto;
}

.face {
	border-right: 2px solid;
	float: left;
	padding: 15px 125px;
}

.title {
	float: left;
	text-align: center;
	padding: 12px 140px;
}

.title > h1 {
	font-size: 36px;
		margin: 5px 15px;
}

.title > p{
	margin: 0;
	padding: 0 30px;
}

.words-section {
	  padding: 0 50px 50px;
	  clear: both;
	  margin: auto;
	  overflow: auto;
}

.words-section > p {
	text-align: left;
	font-size: 20px;
}

.words-section > div {
	width: 150px;
	float: left;
	text-align: center;
	margin-right: 50px;
}

.words-section > div > input {
	margin-bottom: 25px;
    border-color: black;
}

input[type="text"],  input[type="number"]{
	color: black;
	font-weight: bold;
	padding: 8px;
	text-align: center;
	margin-right: 112px;
  	margin-bottom: 45px;


}

.story-section {
	padding-bottom: 100px;
	margin: auto;
	font-size: 18px;
}

.fill {
	color: red;
}


.submit-area, .reset-area {
	  height: 62px;
	  margin-top: 48px;
	  padding-top: 20px;
	  border-top: 1px solid;
	  text-align: right;
}

.reset-area {
	  padding-right: 50px;
}

input#submit, input#reset {
	  color: black;
	  padding: 8px 18px;
	  border: 2px solid;
	  background: white;
}

p.error {
  padding: 0px 48px;
  color: red;
}


.animation {
	overflow: hidden;
}
.animation-wrapper {
  transition: all 1s ease-in-out;
  width: 2172px;
  overflow: overlay;
}

.animation-wrapper.ng-hide-remove {
	margin-left: 0px; 
}

.animation-wrapper.ng-hide-remove-active {
	margin-left: -1200px; 
}

.animation-wrapper.ng-hide-add {
	margin-left: -1200px; 
}

.animation-wrapper.ng-hide-add-active {
	margin-left: 0px; 
}



.animation-wrapper-reverse.ng-hide-remove {
	margin-left: 0px; 
}

.animation-wrapper-reverse.ng-hide-remove-active {
	margin-left: -1200px; 
}

.animation-wrapper-reverse.ng-hide-add {
	margin-left: -1200px; 
}

.animation-wrapper-reverse.ng-hide-add-active {
	margin-left: 0px; 
}



.choices-view, .story-view {
	float: left;
	width: 970px;
	padding: 0 58px;
}
